<div ng-controller='HomeCtrl'>	
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Nereid Login Demo <small><a href="https://github.com/openlabs/angular-nereid-auth">View on Github</a></small></h1>
      <div class="alert" ng-class="{'alert-warning': bad_api_base_path, 'alert-error': bad_credentials, 'alert-success': login_success}" ng-if="message">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
      <form role="form" ng-submit="submit()" ng-class="{strike: deleted, bold: important, red: error}">
        <div class="form-group" ng-class="{'has-error': bad_api_base_path}">
          <label class="control-label" for="apiBasePath">API Base Path</label>
          <input ng-model="apiBasePath" type="text" class="form-control" id="apiBasePath" placeholder="Enter URL without /">
        </div>
        <div class="form-group" ng-class="{'has-error': bad_credentials}">
          <label class="control-label" for="email">Email</label>
          <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group" ng-class="{'has-error': bad_credentials}">
          <label class="control-label" for="password">Password</label>
          <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="isDisabled">Submit</button>
      </form>
    </div>
  </div>  
</div>
